* {
    box-sizing: border-box;
}
/* moblie first */
body {
    background: black;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form {
    /* display:flex; */
    max-width: 50rem;
    margin: 0 auto;
    width: 100%
}
.input {
    padding: 1.5rem;
    border: 0;
    background-color: white;
    border-radius: 4px;
    font-size: 1.4rem;
    outline: none;
    flex-grow: 1;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.submit {
    padding: 1.5rem;
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: aqua;
    /* margin-left: 1rem; */
    flex-shrink: 0;
    border-radius: 4px;
    width: 100%;
}
/* moblie first */
/* >= */
@media screen and (min-width: 768px) {
    .form {
        display:flex;
    }
    .submit {
        background-color: blue;
        width:auto;
        margin-left: 1rem;
    }
    .input {
        width: auto;
        margin-bottom: 0;
    }
}
    
@media screen and (min-width: 1280px) {
    .submit {
        background-color: brown;
    }
}
/* deskop first <= -1  */
@media screen and (max-width: 767px)
    
}